/* global think */
/* "camelcase": ["error", {"properties": "never"}] */
{
  "extends": "think",
  "env": {
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "globals": {
    "think": true
  },
  "rules": {
    "camelcase": 0,
    "semi": [0]
  }
}
